*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
  /* background-color: #ecf5da; */
  background-image: url(./Assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(68, 110, 31);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid rgb(68, 110, 31);
  border-right: 10px solid rgb(68, 110, 31);
  background-color: #ecf5da;
  opacity: 0.6;     
}
#logo-div{
  display: flex;
  align-items: center; 
  gap: 20px;
}
#logo-image{
  width: 150px;
  height: auto;
}
#logo-div h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(68, 110, 31);
  font-style: italic;
  border-bottom: 5px solid rgb(68, 110, 31); 
}
nav{
  display: flex;
  padding: 10px;
  gap: 5px;
  align-items: center;
}
nav button {
  width: 100px;
  height: auto;
  padding: 5px;
  background-color: rgb(68, 110, 31);
  color: rgb(225, 237, 216);
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  transition: background-color 0.8s, color 0.8s; 
}
nav button:hover{
  background-color: rgb(225, 237, 216);
  color: rgb(68, 110, 31);

}
main{
  flex: 1;
  padding: 20px;
  background-color: #ecf5da;
  opacity: 0.8;
}
main h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(68, 110, 31);
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 20px;
}
footer{
  padding: 20px;
  text-align: center;
  background-color: #ecf5da;
  opacity: 0.6;
  border-top: 10px solid rgb(68, 110, 31);
  border-left: 10px solid rgb(68, 110, 31);
  font-size: large;
  font-weight: 600;
}